.heebo {
  font-family: heebo, sans-serif;
}

.proza {
  font-family: "proza libre", sans-serif;
}

.font-size-huge {
  font-size: 1.5rem;
}

.font-weight-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.just-space {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.just-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.gap {
  gap: 0.5rem;
}

.color-lblue {
  color: #24a5f9;
}

.color-dgray {
  color: #1a1c1e;
}

.background-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.text-align-center {
  text-align: center;
}

.radius {
  border-radius: 5px;
}

.col-sixth {
  width: calc(100% / 6);
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-80 {
  width: 80%;
}

.col-full {
  width: 100%;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 500px) {
  .padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
